<div class="remove-from-queue">
  <h2><%= t('colenda.repos.ingest.review.in_queue.heading')%></h2>
  <%= form_for @object.metadata_builder, :validate => true, :method => :post, :html => { :class => "remove_queue-select-form" }, :url => "/metadata_builders/#{@object.metadata_builder.id}/remove_from_queue" do |f| %>
          <div class="checkbox">
            <%= f.check_box :remove_from_ingest_queue, checked: false, required: true %>
            <%= f.label :remove_from_ingest_queue, t('colenda.repos.ingest.review.in_queue.label', :uuid => @object.unique_identifier) %>
          </div>
      <%= f.submit t('colenda.repos.ingest.review.in_queue.submit'), :id => "remove_queue_select_submit" %>
  <% end -%>
</div>
