<div class="review-status">
  <% if @object.review_status.present? %>
  <h3>Review Status</h3>
  <div class="review-status-list content-block">
    <ul>
      <% @object.review_status.each do |review| %>
      <li><%= review %></li>
      <% end -%>
    </ul>
  </div>
  <% end %>
  <% @object.ingested.each do |ingest| -%>
    <% @document = ActiveFedora::Base.find(ingest) %>
      <%= form_for @object, :validate => true, :html => {:class => "ingest-review"}, :method => :post, :url => "/repos/#{@object.id}/review_status" do |f| %>
      <%= f.label :review_status, "Update Review Status" %>
      <%= f.text_area :review_status, :value => nil %>
      <%= f.submit "Update Review Status for #{@document.identifier.first}" %>
    <% end -%>
</div>

<div class="metadata-only-preview content-block">
  <h3>Alphabetized metadata-only preview of <%= ingest %></h3>
  <% @document.attribute_names.sort.each do |a_name| -%>
    <% if @document.try(a_name).present? %>
    <strong><%= a_name.capitalize %></strong>
    <ul>
      <% Array[@document.try(a_name)].flatten(1).each do |value| %>
        <li><%= value %></li>
      <% end -%>
    </ul>
    <% end %>
  <% end -%>
<% end -%>
</div>
