<div class="review-status">
  <% if @object.review_status.present? %>
  <h2><%= t('colenda.repos.ingest.review.status.heading') %></h2>
  <div class="review-status-list content-block">
    <ul>
      <% @object.review_status.each do |review| %>
      <li><%= review %></li>
      <% end -%>
    </ul>
  </div>
  <% end %>
  <%= form_for @object, :validate => true, :html => {:class => "ingest-review"}, :method => :post, :url => "/repos/#{@object.id}/review_status" do |f| %>
    <%= f.label :review_status, "Add a Review Status note for #{@document.identifier.first}" %>
    <%= f.text_area :review_status, :value => nil %>
    <%= f.submit "Add note" %>
  <% end -%>
</div>
