<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @repo.title %>
</p>

<p>
  <strong>Purl:</strong>
  <%= @repo.purl %>
</p>

<p>
  <strong>Prefix:</strong>
  <%= @repo.prefix %>
</p>

<p>
  <strong>Description:</strong>
  <%= @repo.description %>
</p>

<%= link_to 'Edit', edit_repo_path(@repo) %> |
<%= link_to 'Back', repos_path %>
