<div class="metadata-source-description">
  <%= form_for @object.metadata_builder, :validate => true, :url => "/metadata_builders/#{@object.metadata_builder.id}" do |f| %>
    <% @object.metadata_builder.metadata_source.where(source_type: "custom").each do |source| %>
      <%= f.fields_for :metadata_source, source do |s| %>
      <%= field_set_tag t('colenda.metadata_sources.describe.xy.fieldset_label', :source => content_tag(:span, prettify(source.path), :class => "file-path")).html_safe do %>
      <div class="source-type">
        <% MetadataSource.sheet_types.each do |mb| %>
        <div class="visual-illustration">
          <div id="<%= mb.last %>"></div>
          <div class="input-fields">
            <%= s.label :view_type, mb.first %>
            <%= s.radio_button :view_type, mb.last  %>
          </div>
        </div>
        <% end -%>
      </div>
      <% end -%>
      <div class="source-coordinates">
        <div class="visual-illustration">
          <div id="xy-start"></div>
          <%= field_set_tag t('colenda.metadata_sources.describe.xy.start_label') do %>
          <%= s.label :x_start %>
          <%= s.number_field :x_start %>
          <%= s.label :y_start %>
            <%= s.number_field :y_start%>
          <% end -%>
        </div>
      </div>
      <div class="source-coordinates">
        <div class="visual-illustration">
          <div id="xy-stop"></div>
          <%= field_set_tag t('colenda.metadata_sources.describe.xy.end_label') do %>
          <%= s.label :x_stop %>
          <%= s.number_field :x_stop %>
          <%= s.label :y_stop %>
          <%= s.number_field :y_stop %>
          <% end -%>
        </div>
      </div>
      <div class="source-num-objects">
        <div class="visual-illustration">
          <div id="numbered-horiz"></div>
          <div id="numbered-vert"></div>
        </div>
        <%= field_set_tag t('colenda.metadata_sources.describe.number.fieldset_label') do %>
        <%= s.label :num_objects, t('colenda.metadata_sources.describe.number.label') %>
        <%= s.number_field :num_objects %>
        <% end -%>
      </div>
      <% end %>
    <% end %>
    <%= f.submit form_label("metadata_source_additional_info", @object.steps) %>
  <% end %>
</div>
