<% @object.metadata_builder.metadata_source.each do |source| %>
  <% refresh_metadata_from_source %>
  <%= form_for source, :validate => true, :html => { :class => "field-mappings" }, :url => "/metadata_sources/#{source.id}" do |f| %>
    <%= field_set_tag 'Map source metadata to XML' do %>
      Fill out the fields below to field values from metadata source files to XML.
    <% end %>
    <h3>Mappings for <%= _prettify(source.path) %></h3>
    <%= content_tag :div, :class => "field" do -%>
      <%= f.label :root_element, "Root element:" %>
      <%= f.text_field :root_element %>
      <%= content_tag(:div, "Root element of the XML schema generated -- defaults to \"root\" if left blank.", :class => "field-tip") %>
    <% end -%>
    <%= content_tag :div, :class => "field" do -%>
      <%= f.label :parent_element, "Child element of root, applied per row (optional):" %>
      <%= f.text_field :parent_element %>
      <%= content_tag(:div, "Optional -- Parent of each row of values in metadata source spreadsheet; Child of the root element.", :class => "field-tip") %>
    <% end -%>

    <% source.original_mappings.each do |p| %>
      <% val = source.user_defined_mappings.present? ? source.user_defined_mappings["#{p.first}"]["mapped_value"] : p.first %>
      <%= content_tag :div, :class => "field" do -%>
        <%= f.label "user_defined_mappings[#{p.first}][mapped_value]", "\"#{p.first}\" should map to:" %>
        <%= f.text_field "user_defined_mappings[#{p.first}][mapped_value]", :value => "#{val}" %>
        <%= content_tag(:div, "Example values from source: #{p.last.to_s}", :class => "field-tip") %>
      <% end -%>
    <% end -%>


    <% if @object.metadata_builder.metadata_source.size > 1 %>
      <h2>Define relationships</h2>
      <p>Structure relationships between multiple metadata source files</p>
      <%= content_tag :div, :class => "field" do -%>
        <%= f.label :children, "Child/children of #{_prettify(source.path)}:" %>
        <%= f.select :children, nested_relationships_values(source.path), {}, { :multiple => true } %>
      <% end -%>
    <% end -%>
    <%= content_tag(:div, (f.submit "Save metadata mappings and generate preservation XML"), :class => "form-bottom") %>
  <% end -%>
<% end -%>
