<%= form_for @object.metadata_builder, :validate => true, :url => "/metadata_builders/#{@object.metadata_builder.id}" do |f| %>
  <% @object.metadata_builder.metadata_source.each do |source| %>
    <h3>Source data for <%= prettify(source.path) %></h3>
    <%= f.fields_for :metadata_source, source do |s| %>
      <%= s.label :source_type, "Source Type" %>
      <%= s.select :source_type, MetadataSource.source_types %>
    <% end %>
  <% end %>
  <%= f.submit "Update source types" %>
<% end %>
