<ol class="breadcrumb">
  <li>Admin</li>
  <li><a href="/admin/bulk_imports">Bulk Imports</a></li>
  <li><%= link_to @digital_object_import.bulk_import.id, admin_bulk_import_path(@digital_object_import.bulk_import) %></li>
  <li>Digital Object Import</li>
  <li class="active"><%= @digital_object_import.id %></li>
</ol>


<h2>Digital Object Import</h2>
<div class="row">
  <div class="col-xs-6">
    <dl class="dl-horizontal">
      <dt>Status</dt>
      <dd><%= @digital_object_import.status.titlecase %></dd>

      <dt>Processing Time</dt>
      <dd><%= @digital_object_import.duration ? distance_of_time(@digital_object_import.duration) : '[Unknown]' %></dd>

      <% if @digital_object_import.repo %>
        <dt>Digital Object Changed</dt>
        <dd><%= link_to @digital_object_import.repo.unique_identifier, admin_digital_object_path(@digital_object_import.repo.id) %></dd>
      <% end %>
    </dl>
  </div>
  <div class="col-xs-6">
    <dl class="dl-horizontal">
      <dt>ID</dt>
      <dd><%= @digital_object_import.id %></dd>
      <dt>Created At</dt>
      <dd><%= @digital_object_import.created_at.to_s(:display) %></dd>
      <dt>Updated At</dt>
      <dd><%= @digital_object_import.updated_at.to_s(:display) %></dd>
    </dl>
  </div>
</div>


<% unless @digital_object_import.process_errors.blank? %>
  <h4>Errors</h4>
  <ul>
    <% @digital_object_import.process_errors.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>

<h4>Import Data</h4>
<pre class="pre-scrollable"><%= JSON.pretty_generate(@digital_object_import.import_data) %></pre>
