<%= form_for @object, :validate => true, :method => :post, :html => { :class => "file-checks-form" }, :url => "/manifests/#{@object.id}/create_repos" do |f| %>
    <%= f.submit form_label('create_repos', @object.steps) %>
<% end -%>

<% if @object.steps[:create_repos]
     endpoint_problems = @object.repos_with_endpoint_problems
     if endpoint_problems.present? %>
       <h2><%= t('colenda.manifests.create_repos.review.problems.heading') %></h2>
       <div class="manifest-endpoint-problems content-block">
         <% endpoint_problems.each do |ark, problems| %>
           <%= render partial: "manifests/endpoint_problems", locals: { :ark => ark, :problems => problems } %>
         <% end %>
       </div>
<%   else # No repo problems %>
       <h2><%= t('colenda.manifests.create_repos.review.success.heading') %></h2>
<%   end
   else # Repo creation not performed %>
     <h2><%= t('colenda.manifests.create_repos.review.not_performed.heading') %></h2>
<% end %>

<% identifiers = @object.unique_identifiers_with_id
   unless identifiers.empty? %>
     <br/>
     <h2><%= t('colenda.manifests.create_repos.review.repo_list.heading') %></h2>
     <div class="manifest-repo-list content-block">
     <ul>
<%   identifiers.each do |ids| %>
    <%= render partial: "manifests/repo_list", locals: { :id => ids[:id], :ark => ids[:unique_identifier] } %>
<%   end %>
     </ul>
     </div>
<% end %>
