<%= form_for @object, :validate => true, :method => :post, :html => { :class => "file-checks-form" }, :url => "/manifests/#{@object.id}/process_manifest" do |f| %>
    <%= f.submit form_label('process_manifest', @object.steps) %>
<% end -%>

<% if @object.steps[:process_manifest]
     problem_files = @object.repos_with_problem_files
     if problem_files.present? %>
       <h2><%= t('colenda.manifests.process_manifest.review.problems.heading') %></h2>
       <div class="manifest-problem-files content-block">
         <% problem_files.each do |ids, problems| %>
           <%= render partial: "manifests/problem_files", locals: { :id => ids[:id], :ark => ids[:unique_identifier], :problems => problems } %>
         <% end %>
       </div>
<%   else # No repo problems %>
       <h2><%= t('colenda.manifests.process_manifest.review.success.heading') %></h2>
<%   end
   else # Manifest processing not performed %>
     <h2><%= t('colenda.manifests.process_manifest.review.not_performed.heading') %></h2>
<% end %>
