<% refresh_metadata_from_source %>
<%= form_for @object.metadata_builder, :validate => true, :html => { :class => "field-mappings", :method => :post}, :url => "/metadata_builders/#{@object.metadata_builder.id}" do |f| %>
  <%= render_flash_errors if flash[:error] %>
  <%= field_set_tag 'Map source metadata to XML' do %>
    Fill out the fields below to field values from metadata source files to XML.
  <% end %>
  <%= f.hidden_field :parent_repo, :value => "#{@object.id}" %>
  <% @object.metadata_builder.source_mappings.each do |mappings| %>
    <% root_val, parent_val = _structural_elements(mappings.first.last) %>
    <h3>Mappings for <%= _prettify(mappings.first.last) %></h3>
    <%= content_tag :div, :class => "field" do -%>
      <%= f.label "field_mappings[#{mappings.first.last}][root_element][mapped_value]", "Root element:" %>
      <%= f.text_field "field_mappings[#{mappings.first.last}][root_element][mapped_value]", :value => "#{root_val}" %>
      <%= content_tag(:div, "Root element of the XML schema generated -- defaults to \"root\" if left blank.", :class => "field-tip") %>
    <% end -%>
    <%= content_tag :div, :class => "field" do -%>
      <%= f.label "field_mappings[#{mappings.first.last}][child_element][mapped_value]", "Child element of root, applied per row (optional):" %>
      <%= f.text_field "field_mappings[#{mappings.first.last}][child_element][mapped_value]", :value => "#{parent_val}" %>
      <%= content_tag(:div, "Optional -- Parent of each row of values in metadata source spreadsheet; Child of the root element.", :class => "field-tip") %>
    <% end -%>
    <% mappings.drop(1).each do |p| %>
      <% val = @object.metadata_builder.field_mappings.present? ? @object.metadata_builder.field_mappings["#{mappings.first.last}"]["#{p.first}"]["mapped_value"] : p.first %>
      <%= content_tag :div, :class => "field" do -%>
        <%= f.label "field_mappings[#{mappings.first.last}][#{p.first}][mapped_value]", "\"#{p.first}\" should map to:" %>
        <%= f.text_field "field_mappings[#{mappings.first.last}][#{p.first}][mapped_value]", :value => "#{val}" %>
        <%= content_tag(:div, "Example values from source: #{p.last.to_s}", :class => "field-tip") %>
      <% end -%>
    <% end -%>
  <% end -%>
    <% if @object.metadata_builder.source.length > 1 %>
      <h2>Define relationships</h2>
      <p>Structure relationships between multiple metadata source files</p>
        <% @object.metadata_builder.source.each do |file| -%>
          <%= content_tag :div, :class => "field" do -%>
            <%= f.label :nested_relationships, "Child/children of #{_prettify(file)}:" %>
            <%= f.select :nested_relationships, _nested_relationships_values(file), {}, { :multiple => true} %>
          <% end -%>
        <% end -%>
    <% end -%>
    <%= content_tag(:div, (f.submit "Save metadata mappings and generate preservation XML"), :class => "form-bottom") %>
  <% end %>
