<div class="metadata-source-select">
  <%= form_for @object.metadata_builder, :validate => true, :method => :post, :url => "/metadata_builders/#{@object.metadata_builder.id}/set_source" do |f| %>
    <%= field_set_tag t('colenda.metadata_builders.source_select.fieldset_label') do %>
      <p><%= t('colenda.metadata_builders.source_select.multiple_files') %></p>
      <% @preserve = @object.metadata_builder.qualified_metadata_files %>
      <div class="source-select">
        <%= f.label :source, t('colenda.metadata_builders.source_select.label') %>
        <%= f.select :source, prettify(@preserve).zip(@preserve), {}, { :multiple => true }  %>
      </div>
      <%= f.submit form_label("source_select", @object.steps) %>
    <% end -%>
  <% end -%>
</div>
