<div class="source-specs-form">
  <%= form_for @object.metadata_builder, :validate => true, :method => :post, :url => "/metadata_builders/#{@object.metadata_builder.id}/source_specs" do |f| %>
    <% @object.metadata_builder.source.each do |source| %>
    <h3>Information for <%= _prettify(source) %></h3>
    <div class="source-type">
      <%= label_tag "source_type[#{source}]", "Source type" %>
      <%= select_tag "source_type[#{source}]", options_for_select(MetadataBuilder.sheet_types) %>
    </div>
    <div class="source-coordinates">
      <% val = @object.metadata_builder.source_coordinates.present? ? @object.metadata_builder.source_coordinates["#{source}"]["x_start"] : "1" %>
      <%= field_set_tag "Where do the field mappings begin?" %>
      <%= label_tag "source_coordinates[#{source}][x_start]", "X Coordinate" %>
      <%= number_field_tag "source_coordinates[#{source}][x_start]", value = val %>
      <%= label_tag "source_coordinates[#{source}][y_start]", "Y Coordinate" %>
      <%= number_field_tag "source_coordinates[#{source}][y_start]" %>
    </div>
    <div class="source-coordinates">
      <%= field_set_tag "Where do the field mappings end?" %>
      <%= label_tag "source_coordinates[#{source}][x_stop]", "X Coordinate" %>
      <%= number_field_tag "source_coordinates[#{source}][x_stop]" %>
      <%= label_tag "source_coordinates[#{source}][y_stop]", "Y Coordinate" %>
      <%= number_field_tag "source_coordinates[#{source}][y_stop]" %>
    </div>
    <% end %>
    <%= f.submit %>
  <% end -%>
</div>
