<%= render 'previous_next_doc' %>

<% @page_title = t('blacklight.search.show.title', :document_title => document_show_html_title, :application_name => application_name).html_safe %>
<% content_for(:head) { render_link_rel_alternates } %>

<div id="document" class="document <%= render_document_class %>" itemscope  itemtype="<%= @document.itemtype %>">
  <div id="doc_<%= @document.id.to_s.parameterize %>">
    <%= render_document_partials @document, blacklight_config.view_config(:show).partials %>

  </div>
</div>
<% image_hash = fetch_files(@document) %>




<div id="BookReader">
  Internet Archive BookReader Demo    <br/>

  <noscript>
    <p>
      The BookReader requires JavaScript to be enabled. Please check that your browser supports JavaScript and that it is enabled in the browser settings.  You can also try one of the <a href="http://www.archive.org/details/goodytwoshoes00newyiala"> other formats of the book</a>.
    </p>
  </noscript>
</div>

<script type="text/javascript" src="http://localhost:3000/assets/BookReaderJSSimple.js"></script>






<div class="reader">
  <% @image_hash.keys.each do |key| %>
    <%= render(:partial => "pages/page_image", :locals => {:key => key }) %>
  <% end -%>
</div>

<% if @document.respond_to?(:export_as_openurl_ctx_kev) %>
  <span class="Z3988" title="<%= @document.export_as_openurl_ctx_kev(document_partial_name(@document)) %>"></span>
<% end %>
