<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Files</h3>
  </div>

  <ul class="list-group">
    <% assets.each do |asset| %>
      <li class="list-group-item">
        <% if asset.is_a?(Asset) %>
          <span><%= asset.filename %></span>
          <span class="pull-right">
            <a href="<%= asset.original_file_link %>" target="_blank">
              <span class="glyphicon glyphicon-download" aria-hidden="true"></span> Download Original
            </a>
          </span>
        <% else %>
          <span><%= asset[:filename] %></span>
          <span class="pull-right">
            <% if asset[:access_file].present? %>
              <span>
                <a href="<%= asset_access_url(@document.unique_identifier, asset[:id])%>" target="_blank">
                  <span class="glyphicon glyphicon-download" aria-hidden="true"></span> Download Access Copy <%= asset.dig(:access_file, :size) ? "(#{number_to_human_size(asset.dig(:access_file, :size), prefix: :si)})": '' %>
                </a>
              </span>
            <% end %>
            <span>
              <a href="<%= asset_original_url(@document.unique_identifier, asset[:id]) %>" target="_blank">
                <span class="glyphicon glyphicon-download" aria-hidden="true"></span> Download Original (<%= number_to_human_size(asset.dig(:original_file, :size), prefix: :si) %>)
              </a>
            </span>
          </span>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>