<ol class="breadcrumb">
  <li>Admin</li>
  <li><a href="/admin/bulk_imports">Bulk Imports</a></li>
  <li class="active"><%= @bulk_import.id %></li>
</ol>

<h2>Bulk Import</h2>
<div class="row">
  <div class="col-xs-6">
    <dl class="dl-horizontal">
      <dt>Original Filename</dt>
      <dd>
        <%= @bulk_import.original_filename || '[Unknown]' %>
        <a href="<%= csv_admin_bulk_import_path(@bulk_import) %>">
          (download)
        </a>
      </dd>
      <dt>Total Imports</dt>
      <dd><%= @bulk_import.digital_object_imports.count %></dd>
      <dt>Total Processing Time</dt>
      <dd>
        <% if @bulk_import.status.in? [BulkImport::COMPLETED, BulkImport::COMPLETED_WITH_ERRORS] %>
          <% processing_time = @bulk_import.aggregate_processing_time %>
          <%= processing_time.zero? ? '[Unknown]' : distance_of_time(processing_time) %>
        <% else %>
          [Unknown]
        <% end %>
      </dd>

    </dl>
  </div>
  <div class="col-xs-6">
    <dl class="dl-horizontal">
      <dt>ID</dt>
      <dd><%= @bulk_import.id %></dd>
      <dt>Created By</dt>
      <dd><%= @bulk_import.created_by_email %></dd>
      <dt>Created At</dt>
      <dd><%= @bulk_import.created_at.to_s(:display) %></dd>
    </dl>
  </div>
</div>

<h4>Digital Object Imports</h4>

<ul class="nav nav-tabs">
  <li role="presentation" class="<%= @status.nil? ? 'active' : '' %>">
    <a href="<%= url_for(digital_object_import_status: nil) %>">
      All <span class="badge"><%=@bulk_import.digital_object_imports.count %></span>
    </a>
  </li>
  <% DigitalObjectImport::STATUSES.each do |s| %>
    <li role="presentation" class="<%= @status.eql?(s) ? 'active' : '' %>">
      <a href="<%= url_for(digital_object_import_status: s) %>">
        <%= s.titlecase %> <span class="badge"><%=@bulk_import.digital_object_imports.where(status: s).count %></span>
      </a>
    </li>
  <% end %>
</ul>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>ID</th>
      <th>Status</th>
      <th>Directive Name</th>
      <th>Unique Identifier</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% @digital_object_imports.each do |digital_object_import| %>
      <tr>
        <td><%= digital_object_import.id %></td>
        <td><%= digital_object_import.status.titlecase %></td>
        <td><%= digital_object_import.digital_object_human_readable_name %></td>
        <td>
          <% if unique_identifier =  digital_object_import.digital_object_unique_identifier %>
            <%= link_to(unique_identifier, admin_digital_object_path(unique_identifier)) %>
          <% end %>
        </td>
        <td>
          <%= link_to 'Details', admin_bulk_import_digital_object_import_path(@bulk_import, digital_object_import), class: 'btn btn-sm btn-default' %>
        </td>
      <tr>
    <% end %>
    </tbody>
  </table>
</div>
<div class="row">
  <div class="col-md-6">
    <%= paginate @digital_object_imports, remote: true, param_name: :digital_object_import_page %>
  </div>
  <div class="col-md-6">
    <div class="pull-right">
      <%= page_entries_info @digital_object_imports %>
    </div>
  </div>
</div>
