<h2>Objects ingested, <%= "#{14.days.ago.strftime("%m/%d/%Y")} to #{0.days.ago.strftime("%m/%d/%Y")}" %></h2>
<%= area_chart render_ingested_hash, download: true %>

<hr />

<h2>Repositories created, <%= "#{14.days.ago.strftime("%m/%d/%Y")} to #{0.days.ago.strftime("%m/%d/%Y")}" %></h2>
<%= area_chart Repo.group_by_day(:created_at, range: 14.days.ago..1.day.ago).count, download: true %>

<hr />

<h2>Colenda objects by collection name (5 objects or more)</h2>
<%= pie_chart render_collection_names_hash, download: true %>

<hr />

<h2>Current last action performed on all items in Colenda</h2>
<%= pie_chart display_action_labels(Repo.group(:last_action_performed).count), download: true %>

<hr />

<h2>Repository ownership</h2>
<%= column_chart Repo.group(:owner).count, download: true %>
