<section id="index_filters">
  <div class="well">
    <%= bootstrap_form_tag(url: admin_digital_objects_path, method: :get, class: 'well') do |f| %>
      <div class="row form-group-sm">
        <div class="col-sm-3">
          <%= f.text_field :id_search, value: params[:id_search], label: 'Identifier' %>
        </div>
        <div class="col-sm-2">
          <%= f.text_field :name_search, value: params[:name_search], label: 'Name' %>
        </div>
        <div class="col-sm-3">
          <%= f.select :created_by_search,
                       options_from_collection_for_select(User.find(Repo.distinct.pluck(:created_by_id).compact), :id, :email, selected: params[:created_by_search]),
                       include_blank: 'Any',
                       label: 'Created By' %>
        </div>
        <div class="col-sm-2">
          <%= f.select :published_filter,
                       options_for_select([['Yes', 1], ['No', 0]], selected: params[:published_filter]),
                       include_blank: true,
                       label: 'Published' %>
        </div>
        <div class="col-sm-2">
          <div style="margin-top: 20px;">
            <%= f.submit 'Filter', class: 'btn btn-primary digital-objects-filter-submit' %>
            <%= link_to 'Clear', admin_digital_objects_path, class: 'btn btn-default' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</section>
